In [1]:
import pandas as pd
from pathlib import Path

In [121]:
#Load CSV
youtube_csv = Path("video_data_cleaned.csv")

#Read CSV
youtube_data = pd.read_csv(youtube_csv)
youtube_data.head()

,Unnamed: 0,id,Channel Title,Published At,Channel Id,Video Title,Category Id,Description,Tags,Duration,...,LicensedContent,Projection,View Count,Like Count,Favorite Count,Comment Count,Tag Count,Description Length (characters),Description Length (words),Duration (seconds)
0,0,2ruoagytC7w,PushToProd,2023-09-14T21:00:02Z,UCN0u98NPeC0AW3pD6MbVeNg,day in the life | Jr. Cybersecurity Engineer N...,28,Here’s the part 2 to my day in the life/ vlog!...,"['devops', 'azure', 'aws', 'cloud', 'docker', ...",PT7M22S,...,True,rectangular,1032,61.0,0,22.0,39.0,162,20,442
1,1,gBH1LdSZyFU,PushToProd,2023-09-04T22:27:11Z,UCN0u98NPeC0AW3pD6MbVeNg,day in the life | Jr. Cybersecurity Engineer N...,28,Hey Guys! \n\nHope you enjoy Part 1 of this da...,"['devops', 'azure', 'aws', 'cloud', 'docker', ...",PT14M8S,...,True,rectangular,2006,86.0,0,29.0,39.0,453,72,848
2,2,UhMJ0km4KLs,PushToProd,2023-08-15T21:30:03Z,UCN0u98NPeC0AW3pD6MbVeNg,Prodcast 6 | Is the end of tech near?,28,https://linktr.ee/pushtoprod\n\nHey push2prod ...,"['podcast', 'devops', 'azure', 'aws', 'cloud',...",PT19M29S,...,True,rectangular,793,55.0,0,23.0,39.0,456,75,1169
3,3,qYfxI07QrKo,PushToProd,2023-06-13T20:45:01Z,UCN0u98NPeC0AW3pD6MbVeNg,Prodcast 5 | Biology Degree to Data Scientist,28,"Hey push2prod squad. Welcome to back to the ""P...","['podcast', 'devops', 'azure', 'aws', 'cloud',...",PT25M9S,...,True,rectangular,870,54.0,0,22.0,38.0,393,70,1509
4,4,CKcYF3369LI,PushToProd,2023-06-07T14:00:10Z,UCN0u98NPeC0AW3pD6MbVeNg,From Suit & Tie to Bonnets and Durags: Embraci...,28,NaN,"['podcast', 'devops', 'azure', 'aws', 'cloud',...",PT56S,...,True,rectangular,1679,36.0,0,3.0,38.0,0,1,56

In [63]:
#2023 video
year_twenty_three= youtube_data.loc[youtube_data['Published At'].str.contains("2023")]

In [64]:
#Total video 2023
year_twenty_three_total= year_twenty_three['id'].count()

In [65]:
#Total view 2023
twenty_three_total_view= year_twenty_three['View Count'].sum()

#Average View per video 2023
twenty_three_avg_view= year_twenty_three['View Count'].mean()

In [66]:
#Total like 2023
twenty_three_total_like= year_twenty_three['Like Count'].sum()

#Average Like per video 2023
twenty_three_avg_like= year_twenty_three['Like Count'].mean()

In [95]:
#Total comment 2023
twenty_three_total_com= year_twenty_three['Comment Count'].sum()

#Average comment per video 2023
twenty_three_avg_com= year_twenty_three['Comment Count'].mean()

In [96]:
#2023 Summary
twenty_three_summary = pd.DataFrame({"Total Videos":[year_twenty_three_total],
                                     "Total view":[twenty_three_total_view],
                                     "Average View":[twenty_three_avg_view],
                                     "Total like":[twenty_three_total_like],
                                     "Average Like":[twenty_three_avg_like],
                                     "Total comment":[twenty_three_total_com],
                                     "Average comment":[twenty_three_avg_com]})
twenty_three_summary

,Total Videos,Total view,Average View,Total like,Average Like,Total comment,Average comment
0,6480,186602077,28796.616821,7268954.0,1126.27115,296043.0,45.777486

In [69]:
#2022 Video
year_twenty_two= youtube_data.loc[youtube_data['Published At'].str.contains("2022")]

In [70]:
#Total video 2022
year_twenty_two_total= year_twenty_two['id'].count()

In [71]:
#Total view 2022
twenty_two_total_view= year_twenty_two['View Count'].sum()

#Average View per video 2022
twenty_two_avg_view= year_twenty_two['View Count'].mean()

In [72]:
#Total like 2022
twenty_two_total_like= year_twenty_two['Like Count'].sum()

#Average Like per video 2022
twenty_two_avg_like= year_twenty_two['Like Count'].mean()

In [91]:
#Total comment 2022
twenty_two_total_com= year_twenty_two['Comment Count'].sum()

#Average comment per video 2022
twenty_two_avg_com= year_twenty_two['Comment Count'].mean()

In [93]:
#2022 Summary
twenty_two_summary = pd.DataFrame({"Total Videos":[year_twenty_two_total],
                                     "Total view":[twenty_two_total_view],
                                     "Average View":[twenty_two_avg_view],
                                     "Total like":[twenty_two_total_like],
                                     "Average Like":[twenty_two_avg_like],
                                     "Total comment":[twenty_two_total_com],
                                     "Average comment":[twenty_two_avg_com]})
twenty_two_summary

,Total Videos,Total view,Average View,Total like,Average Like,Total comment,Average comment
0,6138,402914860,65642.694689,15415783.0,2522.215805,493196.0,80.508652

In [75]:
#2021 video
year_twenty_one= youtube_data.loc[youtube_data['Published At'].str.contains("2021")]

In [76]:
#Total video 2021
year_twenty_one_total= year_twenty_one['id'].count()

In [77]:
#Total view 2021
twenty_one_total_view= year_twenty_one['View Count'].sum()

#Average View per video 2021
twenty_one_avg_view= year_twenty_one['View Count'].mean()

In [78]:
#Total like 2021
twenty_one_total_like= year_twenty_one['Like Count'].sum()

#Average Like per video 2021
twenty_one_avg_like= year_twenty_one['Like Count'].mean()

In [98]:
#Total comment 2021
twenty_one_total_com= year_twenty_one['Comment Count'].sum()

#Average comment per video 2021
twenty_one_avg_com= year_twenty_one['Comment Count'].mean()

In [99]:
#2021 summary
twenty_one_summary = pd.DataFrame({"Total Videos":[year_twenty_one_total],
                                     "Total view":[twenty_one_total_view],
                                     "Average View":[twenty_one_avg_view],
                                     "Total like":[twenty_one_total_like],
                                     "Average Like":[twenty_one_avg_like],
                                     "Total comment":[twenty_one_total_com],
                                     "Average comment":[twenty_one_avg_com]})
twenty_one_summary

,Total Videos,Total view,Average View,Total like,Average Like,Total comment,Average comment
0,4080,423513932,103802.434314,11431765.0,2824.750432,587569.0,144.472338

In [81]:
#2020 video
year_twenty= youtube_data.loc[youtube_data['Published At'].str.contains("2020")]

In [82]:
#Total video 2020
year_twenty_total= year_twenty['id'].count()

In [83]:
#Total view 2020
twenty_total_view= year_twenty['View Count'].sum()

#Average View per video 2021
twenty_avg_view= year_twenty['View Count'].mean()

In [84]:
#Total like 2020
twenty_total_like= year_twenty['Like Count'].sum()

#Average Like per video 2020
twenty_avg_like= year_twenty['Like Count'].mean()

In [103]:
#Total comment 2020
twenty_total_com= year_twenty['Comment Count'].sum()

#Average comment per video 2020
twenty_avg_com= year_twenty['Comment Count'].mean()

In [104]:
#2020 summary
twenty_summary = pd.DataFrame({"Total Videos":[year_twenty_total],
                                     "Total view":[twenty_total_view],
                                     "Average View":[twenty_avg_view],
                                     "Total like":[twenty_total_like],
                                     "Average Like":[twenty_avg_like],
                                     "Total comment":[twenty_total_com],
                                     "Average comment":[twenty_avg_com]})

twenty_summary

,Total Videos,Total view,Average View,Total like,Average Like,Total comment,Average comment
0,2493,377401288,151384.391496,9910979.0,4048.602533,526663.0,211.936821

In [106]:
#2019 video
year_nineteen= youtube_data.loc[youtube_data['Published At'].str.contains("2019")]

In [107]:
#Total video 2019
year_nineteen_total= year_nineteen['id'].count()

In [111]:
#Total view 2019
nineteen_total_view= year_nineteen['View Count'].sum()

#Average View per video 2019
nineteen_avg_view= year_nineteen['View Count'].mean()

In [112]:
#Total like 2019
nineteen_total_like= year_nineteen['Like Count'].sum()

#Average Like per video 2019
nineteen_avg_like= year_nineteen['Like Count'].mean()

In [113]:
#Total comment 2019
nineteen_total_com= year_nineteen['Comment Count'].sum()

#Average comment per video 2019
nineteen_avg_com= year_nineteen['Comment Count'].mean()

In [114]:
#2019 summary
nineteen_summary = pd.DataFrame({"Total Videos":[year_nineteen_total],
                                     "Total view":[nineteen_total_view],
                                     "Average View":[nineteen_avg_view],
                                     "Total like":[nineteen_total_like],
                                     "Average Like":[nineteen_avg_like],
                                     "Total comment":[nineteen_total_com],
                                     "Average comment":[nineteen_avg_com]})

nineteen_summary

,Total Videos,Total view,Average View,Total like,Average Like,Total comment,Average comment
0,2493,284221923,183132.682345,6633049.0,4324.021512,423009.0,272.733075

In [115]:
#Total summary
total_summary= pd.DataFrame({"Year":[2023,2022,2021,2020,2019],
                            "Total Videos":[year_twenty_three_total,year_twenty_two_total,year_twenty_one_total,year_twenty_total,year_nineteen_total],
                            "Total view":[twenty_three_total_view,twenty_two_total_view,twenty_one_total_view,twenty_total_view,nineteen_total_view],
                            "Average View":[twenty_three_avg_view,twenty_two_avg_view,twenty_one_avg_view,twenty_avg_view,nineteen_avg_view],
                            "Total like":[twenty_three_total_like,twenty_two_total_like,twenty_one_total_like,twenty_total_like,nineteen_total_like],
                            "Average Like":[twenty_three_avg_like,twenty_two_avg_like,twenty_one_avg_like,twenty_avg_like,nineteen_avg_like],
                            "Total comment":[twenty_three_total_com,twenty_two_total_com,twenty_one_total_com,twenty_total_com,nineteen_total_com],
                            "Average comment":[twenty_three_avg_com,twenty_two_avg_com,twenty_one_avg_com,twenty_avg_com,nineteen_avg_com]})

total_summary

,Year,Total Videos,Total view,Average View,Total like,Average Like,Total comment,Average comment
0,2023,6480,186602077,28796.616821,7268954.0,1126.271150,296043.0,45.777486
1,2022,6138,402914860,65642.694689,15415783.0,2522.215805,493196.0,80.508652
2,2021,4080,423513932,103802.434314,11431765.0,2824.750432,587569.0,144.472338
3,2020,2493,377401288,151384.391496,9910979.0,4048.602533,526663.0,211.936821
4,2019,2493,284221923,183132.682345,6633049.0,4324.021512,423009.0,272.733075